root = true

[*.cs]
dotnet_diagnostic.CA1707.severity = warning
dotnet_diagnostic.IDE1006.severity = warning
dotnet_diagnostic.CS0219.severity = warning
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4
